openiam-km/openiam-km-common/src/main/resources/KeyManagementWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="KeyManagementWS" targetNamespace="urn:idm.openiam.org/srvc/res/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:idm.openiam.org/srvc/res/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:idm.openiam.org/srvc/res/service" elementFormDefault="unqualified" targetNamespace="urn:idm.openiam.org/srvc/res/service" version="1.0">
<xs:element name="generateMasterKey" type="tns:generateMasterKey"/>
<xs:element name="generateMasterKeyResponse" type="tns:generateMasterKeyResponse"/>
<xs:element name="migrateData" type="tns:migrateData"/>
<xs:element name="migrateDataResponse" type="tns:migrateDataResponse"/>
<xs:complexType name="migrateData">
<xs:sequence>
<xs:element minOccurs="0" name="secretKey" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="migrateDataResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Response"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Response">
<xs:sequence>
<xs:element minOccurs="0" name="errorCode" type="tns:ResponseErrorCode"/>
<xs:element minOccurs="0" name="responseValue" type="xs:anyType"/>
<xs:element minOccurs="0" name="errorText" type="xs:string"/>
</xs:sequence>
<xs:attribute name="status" type="tns:ResponseStatus" use="required"/>
</xs:complexType>
<xs:complexType name="generateMasterKey">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="generateMasterKeyResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:Response"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ResponseStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="success"/>
<xs:enumeration value="failure"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ResponseErrorCode">
<xs:restriction base="xs:string">
<xs:enumeration value="objectNotFound"/>
<xs:enumeration value="classNotFound"/>
<xs:enumeration value="principalNotFound"/>
<xs:enumeration value="userNotFound"/>
<xs:enumeration value="userStatus"/>
<xs:enumeration value="supervisorlNotFound"/>
<xs:enumeration value="DUPLICATE_PRINCIPAL"/>
<xs:enumeration value="failPasswordPolicy"/>
<xs:enumeration value="groupIdNull"/>
<xs:enumeration value="groupIdInvalid"/>
<xs:enumeration value="roleIdNull"/>
<xs:enumeration value="roleIdInvalid"/>
<xs:enumeration value="objectIdInvalid"/>
<xs:enumeration value="success"/>
<xs:enumeration value="FAIL_SQL_ERORR"/>
<xs:enumeration value="FAIL_CONNECTION"/>
<xs:enumeration value="FAIL_ALPHA_CHAR_RULE"/>
<xs:enumeration value="FAIL_LOWER_CASE_RULE"/>
<xs:enumeration value="FAIL_UPPER_CASE_RULE"/>
<xs:enumeration value="FAIL_NON_APHANUMERIC_RULE"/>
<xs:enumeration value="FAIL_NUMERIC_CHAR_RULE"/>
<xs:enumeration value="FAIL_HISTORY_RULE"/>
<xs:enumeration value="FAIL_LENGTH_RULE"/>
<xs:enumeration value="FAIL_NEQ_NAME"/>
<xs:enumeration value="FAIL_NEQ_PASSWORD"/>
<xs:enumeration value="FAIL_NEQ_PRINCIPAL"/>
<xs:enumeration value="FAIL_PASSWORD_CHANGE_FREQUENCY"/>
<xs:enumeration value="PASSWORD_POLICY_NOT_FOUND"/>
<xs:enumeration value="FAIL_PASSWORD_CHANGE_ALLOW"/>
<xs:enumeration value="FAIL_REJECT_CHARS_IN_PSWD"/>
<xs:enumeration value="FAIL_ENCRYPTION"/>
<xs:enumeration value="FAIL_DECRYPTION"/>
<xs:enumeration value="DIRECTORY_NAMING_EXCEPTION"/>
<xs:enumeration value="COMMUNICATION_EXCEPTION"/>
<xs:enumeration value="FAIL_CONNECTOR"/>
<xs:enumeration value="INVALID_ARGUMENTS"/>
<xs:enumeration value="IO_EXCEPTION"/>
<xs:enumeration value="FILE_EXCEPTION"/>
<xs:enumeration value="SQL_EXCEPTION"/>
<xs:enumeration value="WS_SERVICE_EXCEPTION"/>
<xs:enumeration value="SYNCHRONIZATION_EXCEPTION"/>
<xs:enumeration value="LIMIT_EXCEEDED_EXCEPTION"/>
<xs:enumeration value="AUTHENTICATION_EXCEPTION"/>
<xs:enumeration value="PERMISSION_EXCEPTION"/>
<xs:enumeration value="SERVICE_UNAVAILABLE_EXCEPTION"/>
<xs:enumeration value="SCHEMA_VIOLATION_EXCEPTION"/>
<xs:enumeration value="FAIL_PREPROCESSOR"/>
<xs:enumeration value="FAIL_POSTPROCESSOR"/>
<xs:enumeration value="FAIL_PROCESS_ALREADY_RUNNING"/>
<xs:enumeration value="FAIL_OTHER"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="generateMasterKeyResponse">
    <wsdl:part name="parameters" element="tns:generateMasterKeyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="migrateDataResponse">
    <wsdl:part name="parameters" element="tns:migrateDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="migrateData">
    <wsdl:part name="parameters" element="tns:migrateData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateMasterKey">
    <wsdl:part name="parameters" element="tns:generateMasterKey">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KeyManagementWS">
    <wsdl:operation name="migrateData">
      <wsdl:input name="migrateData" message="tns:migrateData">
    </wsdl:input>
      <wsdl:output name="migrateDataResponse" message="tns:migrateDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateMasterKey">
      <wsdl:input name="generateMasterKey" message="tns:generateMasterKey">
    </wsdl:input>
      <wsdl:output name="generateMasterKeyResponse" message="tns:generateMasterKeyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KeyManagementWSSoapBinding" type="tns:KeyManagementWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="migrateData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="migrateData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="migrateDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateMasterKey">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="generateMasterKey">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generateMasterKeyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KeyManagementWS">
    <wsdl:port name="KeyManagementWSPort" binding="tns:KeyManagementWSSoapBinding">
      <soap:address location="http://localhost:9090/KeyManagementWSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
