openiam-import/src/main/resources/KeyManagementWS.wsdl

<wsdl:definitions xmlns:ns1="urn:idm.openiam.org/srvc/res/service" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:idm.openiam.org/srvc/key/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KeyManagementWS" targetNamespace="urn:idm.openiam.org/srvc/key/service">
    <wsdl:import location="http://localhost:9080/openiam-esb/idmsrvc/KeyManagementWS?wsdl=KeyManagementWS.wsdl" namespace="urn:idm.openiam.org/srvc/res/service"></wsdl:import>
    <wsdl:binding name="KeyManagementWSSoapBinding" type="ns1:KeyManagementWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="encryptUserData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="encryptUserData">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="encryptUserDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initKeyManagement">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="initKeyManagement">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="initKeyManagementResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="migrateData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="migrateData">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="migrateDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateKeysForUser">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generateKeysForUser">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generateKeysForUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateKeysForUserList">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generateKeysForUserList">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generateKeysForUserListResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateCookieKey">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generateCookieKey">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generateCookieKeyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCookieKey">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getCookieKey">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCookieKeyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generateMasterKey">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generateMasterKey">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generateMasterKeyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="decryptUserData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="decryptUserData">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="decryptUserDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="decryptData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="decryptData">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="decryptDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="encryptData">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="encryptData">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="encryptDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="KeyManagementWS">
        <wsdl:port binding="tns:KeyManagementWSSoapBinding" name="KeyManagementWSPort">
            <soap:address location="http://localhost:9080/openiam-esb/idmsrvc/KeyManagementWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>